@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');
@font-face {
    font-family: 'gilroy-regular';
    src: url('../fonts/gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gilroy-regular {
  font-family: "gilroy-regular";
  font-optical-sizing: auto;
  font-style: normal;
}

.red-rose-300 {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.red-rose-400 {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
  --primary: #EFDFC6;
  --secondary: #59140D;
  --secondary-1: #4a0a02;
}
body{background: var(--primary);}

/* Container */
.container {width: 100%;max-width: 1310px;margin: 0 auto;padding: 0 15px;}

/* ==== Layout Utilities ==== */
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.grid { display: grid; }

.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }

.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }

.wrap { flex-wrap: wrap; }


/* ==== Typography ==== */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }


/* ==== Colors ==== */
.text-white { color: #fff; }
.text-dark { color: #222; }
.text-gray { color: #666; }
.text-red { color: var(--secondary); }

.bg-primary { background: #EFDFC6; } 
.bg-secondary { background: #59140D; }


/* ==== Buttons ==== */
.button {padding: 10px 20px;border-radius: 30px;}
.btn-btn{padding: 12px 25px;  color: var(--secondary); border: 1px solid var(--secondary); transition: all 0.2s ease;}
.btn-btn.active,
.btn-btn:hover{ background: var(--secondary); color: white;}
.btn-btn.active:hover{ opacity: .9;}
.section-btn {padding: 12px 30px;}
.filled-btn{background: var(--secondary);color: #fff;}
.filled-btn:hover{background: var(--secondary-1);}
.boder-primary{border:1px solid var(--primary);}

.uppercase{text-transform: uppercase;}
.capitalize{text-transform: capitalize;}


/* .header-main */
.header-main{position: fixed; left: 0; right: 0; top: 30px; z-index: 999;}
.header-right{gap: 30px;}
.header-right .button{border: 1px solid #fff; display: flex; gap: 12px;}
.header-right .button img{width: 20px;}

.header-right .menuIcon img{width: 38px;}



/* .section-heading */
.section-heading{line-height: 45px;}
.section-heading, .section-heading b{font-size: 32px; text-transform: uppercase;}

.line-div{height: 180px; width: 1px; background-color: var(--secondary); margin-bottom: 40px;}

/* .hero-section */
.hero-section {position: relative;color: white;}
.hero-img-div img{width: 100%; height: 100vh; object-fit: cover;}
.menuIcon img{width: 35px;}



/* .hero-absolute-logo */
.hero-absolute-logo{position: absolute; width: fit-content; text-align: center; margin: 0 auto; left: 0; right: 0; top: 120px; }
.hero-absolute-logo .project-logo{width: 250px; margin: 0 auto;}
.hero-absolute-logo .location{gap: 5px; text-transform: capitalize; padding-top: 10px;}

/* .hero-content */
.hero-content{position: absolute; left: 0; right: 0; bottom: 0; z-index: 1; text-align: center; bottom: 30px; color: var(--primary);text-transform: uppercase;}
.hero-content .box-line{position: relative;}
.hero-content .box-line::after {content: '';position: absolute;left: -30px;top: 50%;transform: translateY(-50%);height: 100%; width: 1.5px;background-image: linear-gradient(181deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);}

.hero-content .small-heading{font-size: 18px;}
.hero-content .large-heading{font-size: 36px; padding-top: 30px;}
.hero-content .button{border: 2px solid #dddddd57; background: #FFFFFF1A; display: flex; justify-content: center; margin: 0 auto; margin-top: 40px;}
.hero-content .button:hover{background: #35020236; }


/* .overview-section */
.overview-section{padding-top: 80px; overflow: hidden;}
.overview-section .section-heading{max-width: 500px; padding-bottom: 40px;}
.overview-section .left-side{width: 30%;}
.overview-section .pera{padding-bottom: 40px;}
.overview-section .right-side{width: 60%; position: relative; padding: 80px 0;}
.overview-section .main-img{width: 85%;}
.overview-section .abs-img{position: absolute; top: 0; right: -15%; z-index: -1;}
.overview-section .abs-img-1{bottom: 0; left: 0; top: inherit;}


/* .highligt-section */
.highligt-section{margin-top: 80px; position: relative;}
.highligt-section::after, .highligt-section::before{position: absolute; content: ''; height: 100%; z-index: -1;}
.highligt-section::after{left: 0; top: 0; bottom: 0; background: var(--secondary) url(../images/icons/large-bg-vector.png); width: 32%;}
.highligt-section::before{right: 0; top: 0; background: url(../images/icons/dotes-vector.svg);width: 177px;height: 123px;}
.highligt-section .flex-div{padding: 80px 0;}
.highligt-section .heading-div{max-width: 400px; padding-bottom: 30px;}
.highligt-section .left-col{width: 40%;}
.highligt-section .left-col img{border: 4px solid var(--primary);}
.highligt-section .right-col{width: 52%; padding-top: 30px;}
.highligt-section .listing li{padding-bottom: 20px; padding-left: 40px; background: url(../images/icons/star.svg) no-repeat 0px 8px;}


/* .ancient-wisdom-section */
.ancient-wisdom-section{padding-top: 80px; position: relative;}
.ancient-wisdom-section::after{position: absolute; content: ''; height: 120px; width: 100%; bottom: 0; z-index: -1; background: var(--secondary) url(../images/icons/large-bg-vector.png);}
.ancient-wisdom-section .heading-div{max-width: 600px; padding-bottom: 40px;}
.ancient-wisdom-section .left-div{width: fit-content;}
.ancient-wisdom-section .right-div{width: 35%;}
.ancient-wisdom-section .harmony-flex{text-align: center; padding-top: 50px; color: var(--primary); gap: 20px;}
.ancient-wisdom-section .harmony-flex .imgs{height: 180px; margin: 0 auto;}
.ancient-wisdom-section .harmony-content{padding: 35px;}
.ancient-wisdom-section .harmony-title{font-size: 24px; padding-bottom: 10px;}

/* .partners-section */
.partners-section{padding-top: 80px;}
.partners-section .section-heading{width: 450px;}
.partners-section .flex-heading{padding-bottom: 70px;}
.partners-section .flex-heading .right-side{gap: 30px;}
.partners-slider .swiper-wrapper{align-items: center; padding-bottom: 40px;}
.partners-slider .brand-logo{width:140px; margin: 0 auto;}
.partners-slider .swiper-pagination-bullet{background: var(--secondary);}


/* .floor-and-master-plan */
.floor-and-master-plan{position: relative; margin-top: 80px; margin-bottom: 80px; padding-bottom: 80px;}
.floor-and-master-plan::after, .floor-and-master-plan::before{position: absolute; content: ''; height: 100%; z-index: -1;}
.floor-and-master-plan::after{right: 0; top: 0; bottom: 0; background: var(--secondary) url(../images/icons/large-bg-vector.png); width: 32%;}
.floor-and-master-plan::before{left: 0; bottom: 0; background: url(../images/icons/dotes-vector.svg);width: 177px;height: 123px;}

.floor-and-master-plan .container{padding-right: 120px;}
.floor-and-master-plan .swiper{display: none;}
.floor-and-master-plan .swiper.active-tab{display: block;}
.floor-and-master-plan .tabs{gap: 40px;}
.floor-and-master-plan .plans-slider{ padding-top: 80px;}
.floor-and-master-plan .plan-img-div{position: relative; border: 6px solid rgba(232, 232, 232, 1); background: var(--primary);}
.floor-and-master-plan .plan-img{filter: blur(5px); height: 501px;}
.floor-and-master-plan .view-btn{position: absolute;  top: 50%;left: 50%;transform: translate(-50%, -50%);}
.floor-and-master-plan .plans-slider .heading{font-size: 24px; width: 400px; line-height: 35px;}
.floor-and-master-plan .plans-slider .heading-short{width: 200px;}
.floor-and-master-plan .plans-slider .line-div{height: 122px; margin-top: 40px;}
.floor-and-master-plan .ctrl-btns .swiper-button-next,
.floor-and-master-plan .ctrl-btns .swiper-button-prev{position: unset;}
.floor-and-master-plan .ctrl-btns{gap: 20px; justify-content: center; padding-right: 320px;}
.ctrl-btns .swiper-button-prev:after,
.ctrl-btns .swiper-button-next:after{display: none;}
.ctrl-btns .swiper-button-prev{background: url(../images/icons/left.svg) no-repeat; background-size: contain; }
.ctrl-btns .swiper-button-next{ background: url(../images/icons/right.svg) no-repeat; background-size: contain;}


/* .virtual-visit-section */
.virtual-visit-section{position: relative;}
.virtual-visit-section .heading-div{padding-bottom: 40px;}
.virtual-visit-section .abs-div{position: absolute; top: 50%; transform: translate(0, -50%); width: 41%;}
.virtual-visit-section .img-div{position: relative; width: 100%;}
.virtual-visit-section .img-div .btn-btn{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.virtual-visit-section .line-div{background-image:linear-gradient(180deg, #59140D 0%, rgba(255, 255, 255, 0) 100%); background-color: transparent; height: 133px;}
/* .custom-modal */
.custom-modal {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);opacity: 0;visibility: hidden;transform: scale(1.1);transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; z-index: 999;}
.custom-modal .modal-content {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: white;padding: 1rem 1.5rem;width: 24rem;border-radius: 0.5rem;}
.custom-modal .close-button { border: 1px solid; height: 30px; width: 30px;}
.close-button:hover {background-color: var(--primary);}
.custom-modal.show-modal {opacity: 1;visibility: visible;transform: scale(1.0);transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;}

/* mac and desktop */
@media (max-width:1440px) {}

/* laptop */
@media (max-width:1400px) {
  .hero-absolute-logo{top: 70px; }
  .hero-absolute-logo .project-logo{width: 200px;}

  .hero-content .small-heading{font-size: 16px;}
  .hero-content .large-heading{font-size: 28px; padding-top: 25px;}
}
/* tab and mobile */
@media (max-width:767px) {}